@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital@0;1&display=swap');

:root {
  --bg1: rgb(28, 28, 29);
  --bg2: rgb(44, 44, 46);
  --bg3: rgb(56, 56, 59);
  --bg4: rgb(80, 81, 85);
  --bg5: rgb(102, 104, 109);

  --fg1: white;
  --fg2: rgb(224, 219, 206);
  --fg3: rgb(182, 178, 168);
  --fg4: rgb(136, 133, 125);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;

  color: var(--fg1);
}

body {
  background: var(--bg1);
}