extends partials/base.pug

block head
    link(rel="stylesheet", href="style/index.css")

block header

block main
    form(action="/", method="post")
        label Username
        input(type="text", name="username")
        label Password
        input(type="password", name="password")
        input(type="submit", value="Log In")
        each msg in messages
            section.error=msg