extends partials/base.pug

block head 
  link(rel="stylesheet", href="style/server.css")
  script(src="script/input.js", defer) 
  script(src="script/ws.js", defer)

block main 
  article.output
    section
      h2.timestamp 20:58:01
      p.content hello world
    section
      h2.timestamp 20:58:02
      p.content hello world
    section
      h2.timestamp 20:58:02
      p.content hello world
  article.stats
  div.console
    .caret
    .selection
    .content
    .dropdown
    textarea.console(type="text", autocomplete="off")