extends partials/base.pug

block head 
  link(rel="stylesheet", href="style/server.css")
  script(src="script/input.js", defer) 
  script(src="script/stats.js", defer)
  script(src="script/ws.js", defer)
  script(src="script/server.js", defer)

block main 
  article.output
  article.stats
    h1#name
    h2 WebSocket 
    p#ws-status.DISCONNECTED DISCONNECTED
    h2 Communicator 
    p#com-status.DISCONNECTED DISCONNECTED
    hr
    label(for="rcon_pwd") Password
    input#rcon-pwd(name="rcon_pwd", type="password")
  div.console.readonly
    .caret(style="visibility: hidden;")
    .selection
    .content
    .dropdown
    textarea.console(type="text", autocomplete="off", readonly)