extends partials/base.pug

block head 
  link(rel="stylesheet", href="style/server.css")
  script(src="script/input.js", defer) 
  script(src="script/stats.js", defer)
  script(src="script/ws.js", defer)
  script(src="script/server.js", defer)

block main 
  article.output
  article.stats
    h1#name
  div.console
    .caret
    .selection
    .content
    .dropdown
    textarea.console(type="text", autocomplete="off")