main {
  box-sizing: border-box;
  background: #222629;
  display: grid;

  height: 100%;
  width: 100%;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 50%;

  grid-template-areas:
          "LIST DETAILS"
          "LIST CONSOLE";

  gap: 1.2em;
  padding: 1em;
}

.mini-console {
  grid-area: CONSOLE;
}