.server-list {
  margin: 0;
  padding: 0;

  grid-area: LIST;
  display: grid;
  grid-template-columns: 2fr auto auto;

  height: fit-content;
  user-select: none;

  justify-content: center;
  align-items: center;

  li {
    display: grid;
    grid-column: 1/4;
    grid-template-columns: subgrid;

    &.current, &:hover {
      background: rgba(255,255,255,0.1);
    }
  }

  li > span {
    padding: 8px 1em;

    text-align: right;

    color: #8e9193;
    border-bottom: 1px solid #2b2f34;
  }

  li > span:nth-child(3n + 1) {
    color: #e2e3e3;
    text-align: left;
    font-size: 1rem;
  }
  li > span:nth-child(3n + 2) {
    font-size: .9rem;
  }
  li > span:nth-child(3n + 3) {
    font-size: .9rem;
  }

  .sorters {
    background: none !important;
    justify-items: center;
    align-items: center;

    height: 1.5em;
  }

  .sorter {
    width: 100%;
    height: 100%;

    border: none;
    align-items: center;

    text-align: center !important;

    margin: 0;
    padding: 0;

    transition: opacity 0.05s ease-in-out;

    opacity: 0.2;
    &:hover {
      opacity: .4;
    }

    &.hide {
      opacity: 0;
    }

    &.ascend img {
      transform: rotate(180deg);
    }
  }
}
