$SERVER_HEIGHT: 54px;

.server-list {
  margin: 0;
  padding: 0;

  grid-area: LIST;
  display: grid;
  grid-template-columns: 2fr auto auto;

  height: fit-content;
  user-select: none;

  justify-content: center;
  align-items: center;

  li {
    display: grid;
    grid-column: 1/4;
    grid-template-columns: subgrid;

    align-items: center;

    height: $SERVER_HEIGHT;

    border-bottom: 1px solid #2E3338;

    &.current, &:hover {
      background: #2E3338;
    }
  }

  li > span {
    padding: 8px 1em;
    text-align: right;

    opacity: .5;
    color: #EEEEEE;
  }

  li > span:nth-child(3n + 1) {
    opacity: 1;
    text-align: left;
    font-size: 1rem;
  }
  li > span:nth-child(3n + 2) {
    font-size: .9rem;
  }
  li > span:nth-child(3n + 3) {
    font-size: .9rem;
  }

  .sorters {
    background: none !important;
    justify-items: center;
    align-items: center;
    border: none;

    height: 1.5em;
  }

  .sorter {
    width: 100%;
    height: 100%;

    align-items: center;

    text-align: center !important;

    margin: 0;
    padding: 0;

    transition: opacity 0.05s ease-in-out;

    opacity: 0.2 !important;
    &:hover {
      opacity: .4 !important;;
    }

    &.hide {
      opacity: 0 !important;;
    }

    img {
      transform: rotate(0deg);
      transition: transform 0.2s ease-in-out;
    }

    &.ascend img {
      transform: rotate(180deg);
    }
  }
  .new {
    height: 2em;
    text-align: center;
    grid-template-columns: 1fr;
    cursor: pointer;

    color: #EEEEEE7F;
    &:hover {
      color: #EEEEEE;
    }
  }
}
