$nav_height: 2.5em;

#root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: $nav_height 1fr;
}

@media (prefers-reduced-motion: no-preference) {
  // animation properties go here
}