$nav_height: 2.5em;

#root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: $nav_height 1fr;
}

@media (prefers-reduced-motion: no-preference) {
  // animation properties go here
}

header nav {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0 5px 0 $nav_height;

  height: 100%;

  button {
    width: 150px;
    margin-right: 1px;
    height: 100%;

    outline: none;
    border: none;
    color: #7b7d7f;
    background: #1e2224;

    cursor: pointer;

    &:hover {
      background: #32383b;
    }

    &.current {
      background: #222629;
      cursor: default;
    }
  }
}