html, body, #root {
  background: #191c1e;
  color: white;

  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;

  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flex.grow {
  flex-grow: 1;
}

button {
  font-family: 'Ubuntu', sans-serif;
}