extends partials/base.pug

block head
    link(rel="stylesheet", href="style/index.css")
    script(src="script/init_creds.js", defer)

block header

block main
    h1 Create new Administrator Account
    form(action="/init", method="post")
        label Username:
        input(type="text", name="username", required)
        label Password:
        input(type="password", name="password", id="pwd", required)
        label Confirm password:
        input(type="password", id="confirm_pwd", required)
        input(type="submit", value="Create")
        each msg in messages
            section.error=msg