body {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  margin: 8px auto;
  height: 16px;
  background-color: rgba(255, 255, 255, 0.04);
  outline: 0px solid #217df382;
  border: none;
  padding: 8px; /* 8 + 5 */
  color: white;
  width: calc(100% - 16px);
  font-size: 16px;
  font-weight: 300;
  border-radius: 2px;
  box-shadow: inset 0 0 4px 0 #00000091;
  transition: outline-width 0.1s ease-in-out,
              padding      0.1s ease-in-out;
}

form input:focus {
  outline-width: 2px;
}

form input[type="submit"] {
  display: block;
  width: calc(100% - 8px);
  text-align: center;
  margin: 4px;
  text-transform: uppercase;
  border-radius: 4px;
  font-size: 14px;
  background-color: #2196F3;
  letter-spacing: 0.09em;
  border: none;
  font-family: 'Roboto', sans-serif !important;
  color: white;
  font-weight: 500;
  padding: 16px 0;
  line-height: 1px;
  cursor: pointer;

  height: 16px;
}

form input[type="submit"]:hover {
  filter: brightness(1.1);
}