@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400&display=swap');

:root {
  --bg0: rgb(10, 10, 10);
  --bg1: rgb(32, 32, 32);
  --bg-page: rgb(51, 51, 51);
  --bg-console: rgb(30, 30, 30);
  --bg4: rgb(66, 66, 70);
  --bg5: rgb(80, 81, 85);
  --bg6: rgb(102, 104, 109);

  --bg-btn-new: rgb(65, 136, 69);

  --fg1: white;
  --fg2: rgb(224, 219, 206);
  --fg3: rgb(182, 178, 168);
  --fg4: rgb(136, 133, 125);

  --timestamp: rgb(151, 150, 148);
  --meta: rgb(206, 181, 117);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;

  color: var(--fg1);
  font-family: 'IBM Plex Sans', sans-serif;
  text-rendering: optimizelegibility;
}

body {
  background: var(--bg0);
}